<img src="/img/cat.png" alt="My Cat" />
@for (int i = 0; i < 10; i++)
{
    <h1>Hello from about page</h1>
}
<div class="card col-6 col-lg-3 game-card">
    <img src="/img/dog.png" class="card-img-top img-fluid card-image">
</div>
